@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-bg-dark: #12002f;
  --color-bg-mid: #1a0a3c;
  --color-bg-light: #0b0510;
  --color-gradient-end: #9d55f0;
  --color-bg-primary: #6665f1;
  --color-gradient-via: #00e0ff;
  --color-text-main: #ffffff;
  --color-text-secondary: #c7c7c7;
  --color-bg-base: #12002f;
  --color-bg-mid: #1a0a3c;
  --color-bg-light: #0b0510;
  /* Add more as needed */
}