@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  overflow-x: hidden;
}

body {
  overflow-x: hidden;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  position: relative;
  background-color: black;
  color: white;
}

@layer utilities {
  .animate-glow-move {
    animation: glowMove 8s ease-in-out infinite alternate;
  }
  @keyframes glowMove {
    0% {
      transform: translate(-50%, -50%) scale(1) rotate(0deg);
      opacity: 0.7;
      filter: blur(80px);
    }
    50% {
      transform: translate(-50%, -50%) scale(1.15) rotate(15deg);
      opacity: 1;
      filter: blur(100px);
    }
    100% {
      transform: translate(-50%, -50%) scale(1) rotate(-10deg);
      opacity: 0.7;
      filter: blur(80px);
    }
  }
}
